.end_game {
    background-color: transparent;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.end_game_background_image {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.end_game_star_1 {
    display: block;
    left: 50%;
    position: absolute;
    transform: translate(-184%, 181%);
    width: 21.0109%;
}

.end_game_star_2 {
    display: block;
    left: 50%;
    position: absolute;
    transform: translate(-57.3%, 92.1%);
    width: 27.8252%;
}

.end_game_star_3 {
    display: block;
    left: 50%;
    position: absolute;
    transform: translate(66.2%, 181%);
    width: 21.0109%;
}
