.game {
    background-color: #eee;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.action_block {
    background-color: #c00;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

.drop_place {
    background-color: #0c0;
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
}
