$game-element-shadow: drop-shadow(1px 4px 2px #0007);

$z-index-game: 1;
$z-index-game-back-stage: 0;

@keyframes up-down {
    0% {
        transform: translate3d(0, -4%, 0);
    }

    50% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -4%, 0);
    }
}

.game {
    background-color: #eee;
    background-image: url('./ui/cover.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-game;
}

@keyframes show-food {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.action_block {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;

    &.action_block__active {
        filter: $game-element-shadow;
    }
}

.action_block__image {
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: show-food;
    display: block;
    filter: $game-element-shadow;
    height: 75%;
    object-fit: contain;
    object-position: center;
    width: 75%;

    &.action_block__image__flip {
        transform: scale(-1, 1);
    }
}

.drop_place {
    animation-direction: normal;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: up-down;
    animation-timing-function: ease-in-out;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    z-index: $z-index-game;
}

@keyframes show-animal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.drop_place_image {
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: show-animal;
    display: block;
    filter: $game-element-shadow;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    width: 100%;

    &.drop_place_image__swiped {
        transform: scale(-1, 1);
    }
}

.event_hunter {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-index-game;
}

.plate {
    background-image: url('./ui/plate.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: $game-element-shadow;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: $z-index-game-back-stage;
}
